name: CI

on:
  push:
  pull_request:

jobs:
  flake:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v12

      - name: Magic Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@v8
        with:
          use-flakehub: false

      - name: Check flake
        run: nix flake check

      - name: Build linux packages
        run: nix build .#packages.x86_64-linux --no-link
